@import './colors';

h1 {
  font-family: TowerGothicKT;
  font-size: 56px;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px -2px 2px #777;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: Krungthep;
  color: $color--red;
  margin: 0;
}