@import '../../styles/colors';
@import '../../styles/effects';

.finger--component {
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: $color--yellow__light;

    .header {
        width: 100px;
        img {
            width: 100%;
        }
        p {
            color: #FF180A;
        }
    }

    .timeline {
        width: 100%;
        position: relative;

        &::before {
            display: block;
            content: ' ';
            border-top: 4px solid $color--pink__dark;
            position: relative;
            top: 60px;
        }

        .dot {
            position: absolute;
            border-radius: 50%;
            background-color: $color--red;
            box-shadow: $shadow--medium;
        }
    }
}