@import '../../styles/colors';
@import '../../styles/effects';

.finger--component {
    width: calc(100% - 40px);
    display: flex;
    padding: 20px;
    background-color: $color--yellow__light;

    .header {
        width: 100px;
        img {
            width: 100%;
        }
        p {
            color: #FF180A;
            text-align: center;
        }
    }

    .timeline {
        width: 100%;
        position: relative;
        overflow-x: scroll;

        &::before {
            display: block;
            content: ' ';
            border-top: 4px solid $color--pink__dark;
            position: relative;
            top: 60px;
        }

        .dot {
            position: absolute;
            border-radius: 50%;
            background-color: $color--red;
            box-shadow: $shadow--medium;
        }
    }
}