@import '../../styles/colors';

.waveform--component {
  width: 100%;
  // height: 200px;
  display: flex;

  .header {
    width: 100px;
    background-color: $color--yellow__light;
  }

  .body {
    width: 100%;
    background-color: $color--yellow__light;
  }

  #waveform {
    width: 100%;
    // height: 120px;
  }
}